body {
    background-color: #393e46;
    font-family: monospace;
    color: black;
    margin: 0;
    padding: 0;
    font-size: 20px;
}

body span { 
    font-weight: bold;
}

/*-------Главный контейнер--------*/
.container {
    display: flex;
    height: 100%;
    flex-direction: column;
}

.container > div {
    display: flex; 
    justify-content: space-around;
}


/*---------3 основных блока----------*/
.header {
    background-color: #eeeeee;
    margin: 1%;
    border-radius: 24px;
}

.content {
    margin: 5%;
}

.table_area {
    margin: 1%;
}


/*------------блок header-------------*/
.student_info, .time_info {
    width: 32%;
    padding: 5px;
    background-color: #eeeeee;
}


/*-------------блок content----------------*/
.input_content, .picture_content {
    background-color: #eeeeee;
    width: 40%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 24px;
    padding-left: 10px;
}

.input_content > div {
    padding: 1%;
}

.input_content_buttons_columns {
    display: flex;
    justify-content: space-around;
    padding: 2%;
}

.send_btn_area {
    text-align: center;
}

.picture_content_picture {
    text-align: center;
    height: 90%;
}

#picture {
    height: 100%;
    width: 70%;
}

/*-----------------блок table----------------*/
.table_area_table {
    width: 83%;
    height: 400px;
    overflow: auto;
}

#res_table {
    width: 100%;
    border: 1px solid grey;
    border-collapse: collapse;
    background-color: #eeeeee;
    
}

th, td {
    border: 1px solid grey;
    padding: 10px;
 }



/*-----------------Кнопки---------------------*/
.btn_structure {
    border-radius: 6px;
    font-size: 18px;
    font-family: monospace;
}

.choose_btn {
    transition-duration: 0.4s;
    padding: 4px;
    width: 80px;
}

.send_btn {
    background-color: #eeeeee;
    border-color: gray;
    padding: 10px;
    width: 80%;
}

.send_btn:active {
    box-shadow: 0 3px 0 #161b13;
}


.choose_btn:hover, .send_btn:hover, .active_btn {
    background-color: #393e46;
    color: white;
}


/*-----------Прочие дизайны-------------*/
span[id$="time"] {
    color: red;
}

select {
    width: 80px;
    padding: 4px;
    font-family: monospace;
    font-size: 18px;
}

input {
    width: 100px;
    padding: 4px;
    font-family: monospace;
    font-size: 18px;
    margin-left: 3px;
}

input:focus {
    border-color: #393e46;
  }